/********************
_titles.scss
********************/

@use '../setting/mediaquery'as mq;
@use '../setting/colors'as c;

.title-style01{
	font-family: 'Rammetto One', cursive;
	font-size: var(--s3);
	margin-block-end: var(--s2);
	color: c.$clr__primaly;
	text-align: center;
}