/********************
_main.scss
********************/
@use "../setting/shadows" as s;
@use "../setting/colors" as c;
@use "../setting/mediaquery" as mq;

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: var(--s1);
	margin-block-end: var(--s2);
}

.grid-item {
	@include s.shadow-4dp;
	transition: filter 0.3s ease-out;
	cursor: pointer;
	filter:sepia(70%);
	&:hover {
		filter: sepia(0);
	}
	img {
		object-fit: cover;
		aspect-ratio: 4/3;
	}
}

figcaption {
	display: none;
}
