/********************
_modal.scss
********************/

@use "../setting/shadows" as s;
@use "../setting/colors" as c;
@use "../setting/mediaquery" as mq;

.modal {
	position: fixed;
	margin: auto;
	inset: 0;
	aspect-ratio: 4 / 3;
	width: clamp(360px, 60vw, 600px);
	background-color: c.$white;

	&::backdrop {
		background-color: c.$clr__modal--bg;
	}

	&[open] {
		animation-name: fadein;
		animation-duration: 0.5s;
		animation-timing-function: ease-out;
	}
}

.modal-content {

	p {
		text-align: center;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}